    html {
        background: black;
        font-size: 10px;
    }
    .total {
        margin: 0 auto;
        width: 90%;
        overflow:  auto;
        background: white;
        color: black;
    }
    .judul {
        background: black;
        margin: 20px;
        padding: 20px;
        color: white;
        text-align: center;
    }
    .font-judul {
        font-size: 50px;
    }
    .font-bawah-judul {
        font-size: 20px;
    }
    .menu {
        background: black;
        margin: 20px;
        padding: 20px;
        color: white;
        text-align: center;
    }
    .menu a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    .menu li{
        display: inline;
        background: white;
        padding: 10px;
        margin: 10px;
        color: white;
    }
    .tengah {
        overflow: auto;
        background: black;
        margin: 20px;
        padding: 20px;
        color: white;
    }
    .tengah .judul-konten {
        background: black;
        color: white;
        padding: 10px;
    }
    .tengah .isi-konten {
        background: white;
        color: black;
        padding: 10px;
    }
    .tengah .kiri {
        float: left;
        margin: 0 auto;
        overflow: auto;
        padding: 20px;
        background: white;
        color: black;
        width: 65%;
    }
    .tengah .kanan {
        float: right;
        margin: 0 auto;
        overflow: auto;
        padding: 20px;
        background: white;
        color: black;
        width: 20%;
    }
    .copyleft {
        background: black;
        margin: 20px;
        padding: 20px;
        color: white;
    }
